* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 10% 1fr;
    gap: 10px;
}

.header{
    grid-area: 1 / 2 / 2 / -1;
}

.sidebar{
    grid-area: 1 / 1 / -1 / 2;
}

.main{
    grid-area: 2 / 2 / -1 / -1;
}